<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Sign Up |</title>
</head>
<body>

    <h1>This is sign Up page </h1>

    <div class="sign-up-form">
        <form action="/signup" method="post">
        
            <section>
                
                <input type="hidden" name="_csrf" value=<%=csurfToken%>>
            </section>
            

            <section>
                <label for="name">Name</label>
                <input type="text" id="name">
            </section>
            
            <section>
                <label for="email">Email</label>
                <input type="text" id="email">
            </section>

            <section>
                <label for="password">Password</label>
                <input type="password" id="password">
            </section>   
            
            <section>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password">
            </section>     

            <button type="submit">Sign Up</button>
        

        </form>
    </div>
    
</body>
</html>